/* 
Order for CSS Elements:
1. Display (display, display styling, opacity, visibility, z-index)
2. Positioning (position, top, bottom, left, right, float)
3. Size (width, height, min/max width/height, padding, margin, box-sizing,)
4. Border (border, border-radius, outline, resize)
5. Background (background, box-shadow)
6. Text (font-family, font-size, color, text-decoration, line-height, white-space, text-align)
7. Transforms and Transitions (transform, transition, align, justify)
8. Else
*/

/* 
Order for CSS Documentation
1. Main HTML/Semantic (Section) Elements
2. General HTML Objects
3. Classes
4. ID
5. Selectors
*/

/* Custom Colours */
:root {
    --paynes-grey: #555B6E;
    --seasalt: #FAF9F9;
    --cambridge-blue: #89B0AE;
    --rose-ebony: #764f51;
    --mint-green: #BEE3DB;
    --apricot: #FFD6BA;
}

/* Main HTML/Semantic (Section) Elements */
* {
    /* user-select: none; */
    box-sizing: border-box;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--seasalt);
    letter-spacing: 0.02rem;
    text-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.75);
    text-decoration: none;
}

html, body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--paynes-grey);
    align-items: center;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    padding: 0.35rem;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
}

main {
    flex: 1;
    width: 100%;
    height: 100%;
}

footer {
    flex-shrink: 0;
}

section {
    width: 100%;
    height: auto;
    padding: 3rem 3rem 0 3rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

figure {
    margin: 0;
}

h1 {
    margin: 1rem;
    font-size: 2rem;
    color: var(--apricot);
}

h2 {
    font-size: 1.5rem;
    color: var(--apricot);
}

h3 {
    font-size: 1.5rem;
}

p {
    font-weight: normal;
}

/* Classes */
.nav-link {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    color: var(--seasalt);
}

.nav-link:hover {
    border-radius: 0.75rem;
    background-color: var(--cambridge-blue); 
    color: var(--seasalt);
}

.nav-link.active {
    color: var(--apricot);
}

.about-info-key {
    margin: 1.25rem 0 0 0;
    font-size: 1rem;
    color: var(--apricot);
}

.about-info-value {
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: bold;
}

.about-info-contact {
    width: 3rem;
    height: auto;
    padding: 0.5rem;
    margin: 1rem 0;
    filter: invert(100);
}

.about-info-contact:hover {
    border-radius: 0.75rem;
    background-color: var(--rose-ebony); 
}

.about-skills-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.contact-logo {
    width: 4rem;
    height: auto;
    padding: 0.75rem;
    margin: 1rem;
    border-radius: 25%;
    background-color: var(--rose-ebony);
    filter: invert(100);
    transition: width 0.2s, margin 0.2s;
}

.contact-logo:hover {
    width: 5rem;
    height: auto;
    margin: 0.5rem 0.5rem;
}


/* ID */
#home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url("images/home.jpg");
    background-size: cover;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#picture {
    width: 14rem;
    height: auto;
    margin: 1rem;
    border-radius: 25%;
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.75);
    transition: width 0.3s, margin 0.3s;
}

#picture:hover {
    width: 15rem;
    height: auto;
    margin: 0.5rem;
}

#picture:active {
    width: 14rem;
    height: auto;
    margin: 1rem;
}

#name {
    margin-bottom: 0.25rem;
    font-size: 4rem;
    color: var(--seasalt);
}

#tag {
    font-size: 1.25rem;
    color: var(--paynes-grey);
    text-shadow: none;
}

#about-container {
    display: grid;
    grid-template-areas: 
        "about-photo about-text"
        "about-info about-skills";
    padding: 0 10rem;
    align-items: center;
    justify-content: center;
}

#about-photo {
    width: 17rem;
    height: auto;
    margin: 0 1rem 0 0;
    border-radius: 25%;
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.75);
}

#about-blurb {
    width: 45rem;
    height: auto;
    padding: 0 2rem;
    text-align: left;
}

#about-info {
    padding: 0.1rem 0 0 0;
    text-align: left;
}

#about-skills {
    width: auto;
    height: 100%;
    padding: 0 2rem;
}

#about-skills img {
    width: auto;
    height: 4.5rem;
    padding: 0.5rem;
    margin: 0 0.5rem 0 0.5rem;
    border-radius: 15%;
    background-color: rgba(0, 0, 0, 0.1);
}

#about-skills figcaption {
    margin: 0rem 0rem 0.5rem 0rem;
    font-size: 1rem;
}
