/* 
Order for CSS Elements:
1. Display (display, display styling, opacity, visibility, z-index)
2. Positioning (position, top, bottom, left, right, float)
3. Size (width, height, min/max width/height, padding, margin, box-sizing,)
4. Border (border, border-radius, outline, resize)
5. Background (background, box-shadow)
6. Text (font-family, font-size, color, text-decoration, line-height, white-space, text-align)
7. Transforms and Transitions (transform, transition, align, justify)
8. Else
*/

/* 
Order for CSS Documentation
1. Main HTML/Semantic (Section) Elements
2. General HTML Objects
3. Classes
4. ID
5. Selectors
*/

/* Custom Colours */
:root {
  --paynes-grey: #555b6e;
  --storm-grey: #6c7181;
  --slate-grey: #6b738b;
  --apricot: #ffd6ba;
  --seasalt: #faf9f9;
  --cambridge-blue: #89b0ae;
  --rose-ebony: #764f51;
}

/* Main HTML/Semantic (Section) Elements */
* {
  box-sizing: border-box;
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--seasalt);
  letter-spacing: 0.02rem;
  text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
  text-decoration: none;
  scrollbar-gutter: auto;
}

html, body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--paynes-grey);
  align-items: center;
  scroll-behavior: smooth;
}

nav {
  display: flex;
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 1;
  top: 0;
  padding: 0.25rem;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
}

main {
  flex: 1;
  width: 100%;
  height: 100%;
}

footer {
  flex-shrink: 0;
}

section {
  width: 100%;
  height: auto;
  padding: 3rem 0 0 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}

figure {
  margin: 0;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 1rem;
  font-size: 2rem;
  color: var(--apricot);
}

h2 {
  font-size: 1.5rem;
  color: var(--apricot);
}

h3 {
  font-size: 1.5rem;
}

p {
  font-weight: normal;
}

/* Classes */
.nav-link {
  display: flex;
  max-width: 25%;
  max-height: auto;
  padding: 0.75rem;
  border-radius: 0.75rem;
  font-size: 1rem;
  justify-content: center;
}

.nav-link:hover {
  background-color: var(--cambridge-blue);
  transition: 0.2s ease-in-out;
}

.nav-link.active {
  color: var(--apricot);
}

.about-info-key {
  margin: 1rem 0 0 0;
  font-size: 1rem;
  color: var(--apricot);
}

.about-info-value {
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: bold;
}

.about-info-contact {
  width: 3rem;
  height: auto;
  padding: 0.5rem;
  margin: 1rem 0;
  filter: invert();
  transition: 0.2s ease-in-out;
}

.about-info-contact:hover {
  width: 4rem;
  height: auto;
  margin: 0.5rem 0;
  border-radius: 0.75rem;
  background-color: var(--rose-ebony);
}

.projects-live-website {
  color: gold;
}

.contact-logo {
  width: 4rem;
  height: auto;
  padding: 0.75rem;
  margin: 0.5rem;
  border-radius: 25%;
  background-color: var(--rose-ebony);
  filter: invert();
  transition: 0.2s ease-in-out;
}

.contact-logo:hover {
  width: 5rem;
  height: auto;
  margin: 0rem;
}

/* ID */
#home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url("images/home.jpg");
  background-size: cover;
}

#home a {
  display: flex;
  align-items: center;
  justify-content: center;
}

#picture {
  width: 14rem;
  height: auto;
  margin: 1rem;
  border-radius: 25%;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

#picture:hover {
  width: 15rem;
  height: auto;
  margin: 0.5rem;
}

#picture:active {
  width: 14rem;
  height: auto;
  margin: 1rem;
}

#name {
  margin-bottom: 0.25rem;
  font-size: 4rem;
  color: var(--seasalt);
  text-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.5);
}

#tag {
  font-size: 1.25rem;
  color: var(--paynes-grey);
  text-shadow: none;
}

#down-arrow {
  position: absolute;
  bottom: 1.5rem;
  width: 2.5rem;
  height: auto;
  filter: invert();
  transition: 0.2s ease-in-out;
  animation: moveupdown 1.75s ease-in-out infinite;
}

#down-arrow:hover {
  width: 3rem;
  height: auto;
}

@keyframes moveupdown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1rem);
  }
}

#about-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  max-width: 57rem;
  max-height: auto;
  margin: auto;
  justify-content: center;
}

#about-photo {
  width: 17rem;
  height: 17rem;
  border-radius: 25%;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.5);
}

#about-blurb {
  width: 40rem;
  height: auto;
  padding: 0 2rem;
  text-align: left;
}

#about-info {
  padding: 1rem 0 0 0;
  text-align: left;
}

#about-skills {
  flex: 1;
  width: auto;
  height: 100%;
  padding: 0 1rem;
}

#about-skills div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#about-skills img {
  width: auto;
  height: 4.5rem;
  padding: 0.5rem;
  border-radius: 15%;
  background-color: rgba(0, 0, 0, 0.1);
}

#about-skills figure {
  margin: 0.5rem;
}

#about-skills figcaption {
  font-size: 1rem;
}

#projects div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  max-width: 100rem;
  max-height: auto;
  margin: auto;
  justify-content: center;
}

#projects a {
  margin: 0.5rem;
}

#projects h2 {
  margin: 0 0 1rem 0;
}

#projects p {
  font-size: inherit;
  letter-spacing: normal;
  text-shadow: none;
}

#projects b {
  font-size: inherit;
  color: var(--apricot);
  text-shadow: none;
}

#projects figure {
  width: 100%;
  height: auto;
  max-width: 23rem;
  max-height: auto;
  padding: 1rem;
  border-style: solid;
  border-color: var(--paynes-grey);
  border-radius: 1rem;
  background-color: var(--storm-grey);
  font-size: 0;
  transition: 0.3s ease-in-out;
}

#projects figure:hover {
  border-color: var(--seasalt);
  background-color: var(--slate-grey);
  font-size: 1rem;
  transform: translateY(-1rem);
}

#projects figcaption {
  width: 100%;
  height: auto;
  font-size: inherit;
  text-align: left;
}

#projects img {
  width: 100%;
  height: auto;
  border-color: var(--paynes-grey);
  border-style: solid;
  border-radius: 0.5rem;
}

#projects button {
  padding: 0.25rem 0.5rem;
  margin: 0.1rem;
  border-style: solid;
  border-color: var(--paynes-grey);
  border-radius: 0.25rem;
  background-color: var(--slate-grey);
  font-size: 1rem;
  text-shadow: none;
}

#contact {
  padding-bottom: 2rem;
}