/* 
Order for CSS Elements:
1. Display (display, display styling, opacity, visibility)
2. Positioning (position, z-index, top, bottom, left, right, float)
3. Size (width, height, min/max width/height, padding, margin, box-sizing,)
4. Border (border, border-radius, outline, resize)
5. Background (background, box-shadow)
6. Text (font-family, font-size, color, text-decoration, line-height, white-space, text-align)
7. Transforms and Transitions (transform, transition, align, justify)
8. Else
*/

/* Custom Colours */
:root {
  --jet: #353535;
  --platinum: #D9D9D9;
  --seasalt: #FAF9F9;

  --indigo-dye: #284B63;
  --caribbean-current: #3C6E71;
  --cambridge-blue: #89B0AE;
  --apricot: #FFD6BA;
}

* {
  box-sizing: border-box;
  font-family: Verdana, Arial, sans-serif;
  font-size: 1rem;
  color: var(--jet);
  letter-spacing: 0.02rem;
  text-decoration: none;
  scrollbar-gutter: auto;
}

html,
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--seasalt);
  align-items: center;
  scroll-behavior: smooth;
}

nav {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: auto;
  padding: 0.25rem;
  background-color: var(--jet);
  align-items: center;
  justify-content: center;
}

main {
  flex: 1;
  width: 100%;
  height: 100%;
}

footer {
  flex-shrink: 0;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 3rem 0 0 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}

figure {
  margin: 0;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 1rem;
  font-size: 2rem;
  color: var(--indigo-dye);
}

h2 {
  font-size: 1.5rem;
  color: var(--indigo-dye);
}

h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  color: var(--apricot);
}

h4 {
  font-size: 1.5rem;
}

.nav-item {
  display: flex;
  position: relative;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--seasalt);
  justify-content: center;
}

@media (max-width: 500px) {
  .nav-item {
    font-size: 3.2vw;
  }
}

@media (max-width: 450px) {
  .nav-item {
    font-size: 3vw;
  }
}

@media (max-width: 375px) {
  .nav-item {
    font-size: 2.6vw;
  }
}

.nav-item.selected {
  color: var(--apricot);
}

.nav-item::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  left: 20%;
  bottom: 25%;
  width: 75%;
  height: 25%;
  background-color: var(--caribbean-current);
  transition: 0.2s ease-in-out;
}

.nav-item:hover::before,
.nav-item.selected::before {
  width: 90%;
  height: 50%;
  left: 5%;
}

.shadow {
  display: flex;
  position: relative;
  width: fit-content;
  height: auto;
  margin: 1rem auto;
}

.shadow::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  left: 0.5rem;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-color: var(--platinum);
}

.card {
  padding: 1rem;
  border: 0.5rem solid var(--caribbean-current);
  border-radius: 1rem;
  background-color: color-mix(in srgb, var(--jet) 90%, var(--seasalt));
  transition: 0.3s ease-in-out;
}

.card.hover:hover {
  border-color: var(--cambridge-blue);
  background-color: color-mix(in srgb, var(--jet) 80%, var(--seasalt));
  transform: translateY(-0.5rem);
}

#home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url("images/home.jpg");
  background-size: cover;
}

#home a {
  display: flex;
  align-items: center;
  justify-content: center;
}

#home .profile-picture {
  width: 14rem;
  height: auto;
  margin: 1rem;
  border-radius: 25%;
  box-shadow: 0 0.1rem 0.5rem var(--jet);
  transition: 0.3s ease-in-out;
}

#home .profile-picture:hover {
  width: 15rem;
  height: auto;
  margin: 0.5rem;
}

#home .profile-picture:active {
  width: 14rem;
  height: auto;
  margin: 1rem;
}

#home .name {
  margin: 0 0 0.25rem 0;
  font-size: 4rem;
  font-weight: bold;
  color: var(--seasalt);
  text-shadow: 0 0.1rem 0.5rem var(--jet);
}

#home .headline {
  font-size: 1.25rem;
  font-weight: bold;
}

#home .arrow {
  position: absolute;
  bottom: 1.5rem;
  width: 2.5rem;
  height: auto;
  filter: invert();
  transition: 0.2s ease-in-out;
  animation: moveupdown 1.75s ease-in-out 5;
}

#home .arrow:hover {
  width: 3rem;
  height: auto;
}

@keyframes moveupdown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1rem);
  }
}

#about .container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  max-width: 57rem;
  max-height: auto;
  margin: 0 auto;
  justify-content: center;
}

#about .personal-photo {
  width: 17rem;
  height: 17rem;
  border-radius: 20%;
  box-shadow: 0 0.1rem 0.5rem var(--jet);
}

#about .personal-description {
  width: 40rem;
  height: auto;
  padding: 0 2rem;
  font-size: 1.1rem;
  text-align: left;
}

#about .personal-info {
  padding: 1rem 0 0 0;
  text-align: left;
}

#about .personal-info .key {
  margin: 1rem 0 0 0;
  color: var(--indigo-dye);
}

#about .personal-info .value {
  margin: 0.25rem 0 0.5rem 0;
  font-weight: bold;
}

#about .personal-info .contact {
  width: 3rem;
  height: auto;
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 0.75rem;
  transition: 0.2s ease-in-out;
}

#about .personal-info .contact:hover {
  width: 4rem;
  height: auto;
  margin: 0.5rem 0;
  background-color: var(--platinum);
}

#about .skills {
  flex: 1;
  width: auto;
  height: 100%;
  padding: 0 1rem;
}

#about .skills div {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem;
  align-items: center;
  justify-content: center;
}

#about .skills figure {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0.75rem;
}

#about .skills img {
  width: 4rem;
  height: 4rem;
  padding: 0.5rem;
  border-radius: 0.75rem;
  background-color: var(--platinum);
}

#about .skills figcaption {
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0.25rem 0 0 0;
}

#experience .card {
  width: 60%;
  height: auto;
}

#experience img {
  width: 30%;
  height: auto;
  border: solid var(--caribbean-current) 0.25rem;
  border-radius: 0.5rem;
}

#projects div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: center;
}

#projects b {
  color: var(--apricot);
}

#projects img {
  width: 100%;
  height: auto;
  border: solid var(--caribbean-current) 0.25rem;
  border-radius: 0.5rem;
  transition: 0.3s ease-in-out;
}

#projects .card {
  width: 23rem;
  height: auto;
  padding: 1rem;
  margin: 0.5rem;
}

#projects .card.hover:hover img {
  border-color: var(--cambridge-blue);
}

#projects .project-info {
  display: inline;
  width: 100%;
  height: auto;
}

#projects .tech-stack {
  margin: 0.25rem 0 1rem 0;
}

#projects .stack-item {
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  border-radius: 0.25rem;
  background-color: color-mix(in srgb, var(--jet) 70%, var(--seasalt));
  font-weight: bold;
  color: var(--seasalt);
}

#projects .project-description {
  color: var(--seasalt);
  text-align: left;
}

#projects .live-website {
  color: gold;
}

#contact {
  padding: 3rem 0;
}

#contact .logo {
  width: 4rem;
  height: auto;
  padding: 0.75rem;
  margin: 0.5rem;
  border-radius: 25%;
  background-color: var(--platinum);
  transition: 0.2s ease-in-out;
}

#contact .logo:hover {
  width: 5rem;
  height: auto;
  margin: 0;
}