.projects {
  display: flex;
  flex-direction: column;
  background: linear-gradient(var(--color-blue-200), var(--color-blue-400));
  align-items: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-lg);
  justify-content: center;
}
